.jumbotron {
   background-color: yellow;
   color: black;
   margin-top: 50px;
}

.footer {
   padding: 10px 10px 0 10px;
   background-color: yellow;
   margin-botton: 0px;
   margin-top: 10px;
}

.card-hotel {
   flex: 1 150px;
   margin: 5px;
}

.btn-reserva {
   width: 100%;
}

.footer-address-icon {
   padding-right: 5px;

}

.breadcrumb {
   background-color: lightgray;
}

.form-label {
   padding: 5px;
}

.form-check {
   padding-top: 5px;
   padding-bottom: 5px;
}

.row {
   padding: 2px;
}


.imagenprin {
   padding-top: 5px;
}
