$yellow: #fffa19;
$red: #ff1919;
$green: #19ff19;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top, $bottom, $left, $right) {
	padding-top: $top;
	padding-bottom: $bottom;

}

.jumbotron {
   background-color: $yellow;
   color: black;
   @include margenes(50px, 0px);
}

.footer {
   padding: 10px 10px 0 10px;
   background-color: $red;
   @include margenes(10px, 0px);
}

.card-hotel {
   flex: 1 150px;
   @include margenes(10px, 0px);
}

.btn-reserva {
   width: 100%;
}

.footer-address-icon {
   padding-right: 5px;

}

.breadcrumb {
   background-color: $green;
}

.form-label {
   padding: 5px;
}

.form-check {
   padding-top: 5px;
   padding-bottom: 5px;
}

.row {
   padding: 2px;
}

.imagenprin {
   padding-top: 5px;
}
