.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 10px;
  background-color: #ff1919;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-reserva {
  width: 100%;
}
.footer-address-icon {
  padding-right: 5px;
}
.breadcrumb {
  background-color: #19ff19;
}
.form-label {
  padding: 5px;
}
.form-check {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  padding: 2px;
}
.imagenprin {
  padding-top: 5px;
}
