@yellow: #fffa19;
@red: #ff1919;
@green: #19ff19;

.margenes(@top, @bottom, @left, @right) {
  margin-top: @top;
  margin-bottom: @bottom;
  margin-left: @left;
  margin-right: @right;
}

.paddings(@top, @bottom, @left, @right) {
  padding-top: @top;
  padding-bottom: @bottom;
  padding-left: @left;
  padding-right: @right;
}

.jumbotron {
   background-color: @yellow;
   color: black;
   .margenes(50px, 0px, 0px, 0px);
}

.footer {
   .paddings(10px, 10px, 0px, 10px);
   background-color: @red;
   .margenes(10px, 0px, 0px, 0px);
}

.card-hotel {
   flex: 1 150px;
   .margenes(10px, 10px, 10px, 10px);
}

.btn-reserva {
   width: 100%;
}

.footer-address-icon {
   padding-right: 5px;

}

.breadcrumb {
   background-color: @green;
}

.form-label {
   padding: 5px;
}

.form-check {
   .paddings(10px, 10px, 0px, 0px);
}

.row {
   padding: 2px;
}

.imagenprin {
   padding-top: 5px;
}
