.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #ff1919;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 5px;
}

.breadcrumb {
  background-color: #19ff19;
}

.form-label {
  padding: 5px;
}

.form-check {
  padding-top: 5px;
  padding-bottom: 5px;
}

.row {
  padding: 2px;
}

.imagenprin {
  padding-top: 5px;
}

/*# sourceMappingURL=styles.css.map */
